[disabled]{
  cursor: not-allowed !important;
  opacity: .81;
}

ul.parsley-errors-list{
  position: relative;
  list-style-type: none;
  background: red;
  color: #fff;
  padding: .18rem;
  margin-top: 18px;
  border-radius: 3px;

  &:before{
    display: block;
    content : ' ';
    width: 18px;
    height: 18px;
    position: absolute;
    left: 18px;
    top: -9px;
    background: red;
    transform: rotate(-45deg);
    z-index: -1;
  }

  &:empty{
  display: none;
}
}

#parsley-id-multiple-requestor{
  margin-top: -18px;
}

.main-subtitle{
  @media(max-width: 450px){
    display: none;
  }
}